# Name: MM_companion
# Author: Fabrice P Cordelieres
# Version: 1.0
# Date: 12/05/2013

File>Import, "Metamorph nd file builder...", plugins.ndFile.buildNdStack
File>Import, "Metamorph nd file batch builder...", plugins.ndFile.batchBuildNdStack
File>Import, "Metamorph rgn file to RoiManager...", plugins.rgnFile.importRgnFileToRoiManager

File>Save As, "RoiManager as Metamorph rgn file...", plugins.rgnFile.exportRoiManagerToRgnFile

Plugins>Metamorph companion>nd files, "Import Metamorph nd file...", plugins.ndFile.buildNdStack
Plugins>Metamorph companion>nd files, "Batch Metamorph nd file builder...", plugins.ndFile.batchBuildNdStack
Plugins>Metamorph companion>nd files, "-"
Plugins>Metamorph companion>nd files, "Choose default LUTs...", plugins.ndFile.LUT_Chooser

Plugins>Metamorph companion>rgn files, "Import Metamorph regions to RoiManager...", plugins.rgnFile.importRgnFileToRoiManager
Plugins>Metamorph companion>rgn files, "Export RoiManager to Metamorph rgn file...", plugins.rgnFile.exportRoiManagerToRgnFile

Plugins>Metamorph companion>stg files, "Transform stg File...", plugins.stgPos.transformStgPos
Plugins>Metamorph companion>stg files, "Adapt stg File...", plugins.stgPos.adaptStgPos
Plugins>Metamorph companion>stg files, "Optimize stg File...", plugins.stgPos.optimizeStgPos
Plugins>Metamorph companion>stg files, "Draw stg File...", plugins.stgPos.drawStgPos
Plugins>Metamorph companion>stg files, "Generate a Random stg File for Multi-Well Plate...", plugins.multiWellPlate.generateRandomStgPosInMultiWell
Plugins>Metamorph companion>stg files, "Generate a Grid pattern stg File for Multi-Well Plate...", plugins.multiWellPlate.generateRegularStgPosInMultiWell
Plugins>Metamorph companion>stg files, "Tag Based Position Removal...", plugins.stgPos.tagBasedPosRemoval

#NB: To appear in 2 menus, the same plugin should be labelled with 2 different titles